<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <div id="container">
        <div id="left-part">
            <%- body %>
        </div>
        <%- partial('_partial/right-part') %>
    </div>
    <%- js('js/all') %>
</body>
</html>