<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
    <div id="container">
        <div id="left-part">

        </div>
        <div id="right-part">
            <div id="right-top-bg"></div>
        </div>
    </div>
</body>
</html>