<div class="archive-article-inner">
    <div class="archive-article-header">
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
        <a href="<%- url_for(post.path) %>"><span class="article-date archive-article-date"><i class="fa fa-calendar"></i><%= date(post.date, "YYYY/MM/DD") %></span></a>
    </div>
</div>