<div class="article-wrapper">
    <div class="article-block">
        <%- partial('_partial/article-header', {post: post, type: "detail"}) %>
        <%- post.content %>
        <%- partial('post/nav')%>
    </div>
    <% if(theme.comment){ %>
    <%- partial('post/comment')%>
    <% } %>
</div>