<div class="index-article-list">
    <% page.posts.each(function(post){ %>
    <div class="article-item">
        <%- partial('_partial/article-header', {post: post, type: "index"}) %>
    </div>
    <% }) %>
</div>